.Projects{
    display: inline-block;
}
.project i {
    font-size: 1.4em;
    padding: 0 5px
}
.project i.fa-github-square{
    font-size: 1.7em;
}

.work-wrapper{
    margin: 0 15%;
    padding-bottom: 25px;
}
.project a {
    color: #333;
}

.project a:hover {
    color: #333;
}