<div class="container-fluid work-wrapper">
  <h2 class="row letter-spaced">SELECTED PROJECTS</h2>
  <hr>
  <div class="project">
		<h3>Goat Search</h3>
 		<p><strong>About: </strong>'Goat Search' is a web game based on Battleship. Place goats on a board and play against a computer opponent that uses a guessing algorithm to find the user's goats.</p>
 		<p><strong>Team Members: </strong>Independant project</p>
 		<p><strong>Technologies: </strong>HTML, CSS, JavaScript</p>
		<a href="https://github.com/markdgold/u1-project-game" target="_blank"><i class="fa fa-github-square"></i></a>
  </div>
  <hr>
  <div class="project">
 		<h3>SBP Dojo</h3>
 		<p><strong>About:</strong> 'SBP Dojo' is a database of climbs created in the Seattle Bouldering Project "Dojo" training area. Users can create accounts and add new content using the imgur API</p>
 		<p><strong>Team Members:</strong>Independant project</p>
 		<p><strong>Technologies: </strong>HTML, CSS, JavaScript, Node, Express, PostgreSQL</p>
 		<a href="https://github.com/markdgold/u2-project-sbp" target="_blank"><i class="fa fa-github-square"></i></a>
 		<a href="https://sbpdojo.herokuapp.com" target="_blank"><i class="glyphicon glyphicon-globe"></i></a>
  </div>
  <hr>
  <div class="project">
 		<h3>What Do They Think</h3>
 		<p><strong>About:</strong> 'What Do They Think' uses the newsAPI to gather top news articles around the world and passes them through the Watson Natural Language Understanding API. This returns a numerical sentiment score and a countries average sentiment for a given topic can be displayed.</p>
 		<p><strong>Team Members: </strong>Peter Amadon (Web Dev)</p>
 		<p><strong>My Role: </strong> Project was peer-programmed</p>
 		<p><strong>Technologies: </strong>MongoDB, Express, Angular, Node</p>
 		<a href="https://github.com/markdgold/WhatDoYouThinkOfUS" target="_blank"><i class="fa fa-github-square"></i></a>
 		<a href="http://whatdotheythink.herokuapp.com/" target="_blank"><i class="glyphicon glyphicon-globe"></i></a>
  </div>
  <hr>
  <div class="project">
 		<h3>GrilList</h3>
 		<p><strong>About:</strong> The award-winning result of a half day hackathon, 'Grillist' is a party planning web app designed to ensure guests bring appropriate food and drinks. The vision for Grillist is to include the Venmo API which will allow users to easily contribute to the overall cost of an event</p>
 		<p><strong>Team Members:</strong> Alaina Buzas (Web Dev), Mike Wilson (UX/UI), Marina Maschuck(UX/UI), Serge Poliakov (UX/UI)</p>
 		<p><strong>My Role: </strong>Back-End Dev</p>
 		<p><strong>Technologies: </strong>MongoDB, Express, Angular, Node</p>
 		<a href="https://github.com/markdgold/june_hackathon" target="_blank"><i class="fa fa-github-square"></i></a>
  </div>
</div>
