<div class="container-fluid work-wrapper">
  <h2 class="row letter-spaced">SELECTED PROJECTS</h2>
  <hr>
  <div class="project">
    <h3>Mark-Climb</h3>
    <p><strong>About:</strong> Bouldering profile for Mark Goldstein. Visually stimulating home page with subtle animation effects, social media pages: Instagram feed, Vimeo feed, and logbook analytics dashboard.</p>
    <p><strong>Technologies: </strong>Angular 5, Node.js, Instagram API, Vimeo API, D3.js</p>
    <a href="https://github.com/markdgold/markclimb" target="_blank"><i class="fa fa-github-square"></i></a>
    <a href="https://mark-climb.firebaseapp.com/" target="_blank"><i class="glyphicon glyphicon-globe"></i></a>
  </div>
  <hr>
  <div class="project">
    <h3>The New 40</h3>
    <p><strong>About:</strong> Adaptation of old code base requested by Crux Climbing Center. Database of user-generated boulder problems. Mobile-
      centric design created with Express. Allows for full CRUD functionality in PostgreSQL. Uses the Imgur API to allow users to
      upload pictures of the problems.</p>
    <p><strong>Team Members: </strong>Independant project</p>
    <p><strong>Technologies: </strong>HTML, CSS, JavaScript, Node, Express, PostgreSQL</p>
    <a href="https://github.com/markdgold/crux-wall" target="_blank"><i class="fa fa-github-square"></i></a>
    <a href="https://thenew40.herokuapp.com" target="_blank"><i class="glyphicon glyphicon-globe"></i></a>
  </div>
  <hr>
  <div class="project">
    <h3>Employee Task Management App (Avanade)</h3>
    <p><strong>About:</strong> Worked on a team to produce a task management app using the Vue.js framework. Brought on to provide onshore support for lead FED. Working in two week sprints, added new functionalities to app, improved app performance, and fixed existing bugs.</p>
    <p><strong>Technologies: </strong>Vue.js, Vuex</p>
  </div>
  <hr>
  <div class="project">
    <h3>Intranet Redesign (Avanade)</h3>
    <p><strong>About:</strong> Sole developer for intranet redesign showcase page. Focused on visually intriguing design, including animation and video elements. Three week sprint project required efficient code that could quickly adapt to design changes. Project was content driven but without adequate time to setup a CMS; required bespoke pseudo-CMS to be created to easily add content by client after project hand-off.</p>
    <p><strong>Technologies: </strong>jQuery, Bootstrap, .NET</p>
  </div>
  <hr>
  <div class="project">
    <h3>What Do They Think</h3>
    <p><strong>About:</strong> 'What Do They Think' uses the newsAPI to gather top news articles around the world and passes them through the Watson Natural Language Understanding API. This returns a numerical sentiment score and a countries' average sentiment for a given topic can be displayed.</p>
    <p><strong>Team Members: </strong>Peter Amadon (Web Dev)</p>
    <p><strong>My Role: </strong> Angular routing, services. API's</p>
    <p><strong>Technologies: </strong>MongoDB, Express, AngularJS, Node</p>
    <a href="https://github.com/markdgold/WhatDoYouThinkOfUS" target="_blank"><i class="fa fa-github-square"></i></a>
    <a href="http://whatdotheythink.herokuapp.com/" target="_blank"><i class="glyphicon glyphicon-globe"></i></a>
  </div>
  <hr>
  <div class="project">
    <h3>SBP Dojo</h3>
    <p><strong>About:</strong> 'SBP Dojo' is a database of climbs created in the Seattle Bouldering Project "Dojo" training area. Users can create accounts and add new content using the imgur API.</p>
    <p><strong>Team Members: </strong>Independant project</p>
    <p><strong>Technologies: </strong>HTML, CSS, JavaScript, Node, Express, PostgreSQL</p>
    <a href="https://github.com/markdgold/u2-project-sbp" target="_blank"><i class="fa fa-github-square"></i></a>
    <a href="https://sbpdojo.herokuapp.com" target="_blank"><i class="glyphicon glyphicon-globe"></i></a>
  </div>
  <hr>
  <div class="project">
    <h3>Goat Search</h3>
    <p><strong>About: </strong>'Goat Search' is a web game based on Battleship. Place goats on a board and play against a computer opponent that uses a guessing algorithm to find the user's goats.</p>
    <p><strong>Team Members: </strong>Independant project</p>
    <p><strong>Technologies: </strong>HTML, CSS, JavaScript</p>
    <a href="https://github.com/markdgold/u1-project-game" target="_blank"><i class="fa fa-github-square"></i></a>
    <a href="https://goat-search.herokuapp.com/" target="_blank"><i class="glyphicon glyphicon-globe"></i></a>
  </div>
</div>
